body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kumbh Sans", sans-serif;
    background-image: url(./images/bg-pattern-top.svg),url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat,no-repeat;  
    background-position: right 53vw top -70vh,left 50vw bottom -125~~vh; 
}
.container{
    background-color: hsl(0, 0%, 95%);
    height: 400px;
    width: 375px;
    position: relative;
    top: 150px;
    border-radius: 20px;
}
.card_pattern img{
    border-top-left-radius: 20px;
     border-top-right-radius: 20px;
}
.victor img{
    border-radius: 50%;
    border:5px solid hsl(0, 0%, 95%);
    position: absolute;
    left: 135px;
    top: 95px;
}
.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    position: relative;
    top: 60px;
    left: 40px;
}
.name h3{
    font-size: 20px;
    color: hsl(229, 23%, 23%);
}
.name p{
    position: relative;
    bottom: 6px;
    color: hsl(227, 10%, 46%);
}
.age{
    position: relative;
    top: 44px;
    right: 27px;
    font-size: 20px;
    color: hsl(227, 10%, 46%);
}
.number{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 80px;
    line-height: 5px;
    color: hsl(229, 23%, 23%);
}.followers p{
     position: relative;
     right: 12px;
     color: hsl(227, 10%, 46%);
}
.likes{
    position: relative;
    right: 10px;
}
.likes p{
    position: relative;
    left: 5px;
    color: hsl(227, 10%, 46%);
}
.photos p{
    color: hsl(227, 10%, 46%);
    position: relative;
    right: 3px;
}
hr{
    position: relative;
    top: 75px;
    color: hsl(0, 0%, 59%);
}